*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  font-style: #747474;
  color: #747474;;
}
#basic-menu {
  border: none
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #7cb8d5 !important;

}
.form {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-style: #747474;
  width: 50vw;
}
.title {
  margin-left: 20px;
  margin-bottom: -40px;
}
.row {
  margin-top: 20px;
  margin-bottom: -20px;
  
}
.cabeca{
  display: block;
  margin-top: 15px;
  margin-bottom: -20px;
}
#tes{
  
  margin-top: 30px;
  margin-bottom: -37px;
}
#tes1{
  margin-top: 25px;
  margin-bottom: -30px;
}


.input-form{
  display: flex;
  margin: 10px;
  height: 40px;
  margin-bottom: -20px;
  background-color: #f0f0f0;
  border-top: 2px solid #d6d6d6;
  border-left: 2px solid #d6d6d6;
  border-color: #d6d6d6;
}
.container {
  background-color: #ffffff;
  width: 75vw;
  padding: 10vw;
}
.large-input {
  width: 53.7vw;
  margin-top: 0;
}
#root {
  background-color: #f3f3f3;
}
.App-logo {
  height: 50px;
  margin-top: 50px;
}
.title-2 {
  padding-left: 40px;
}
.App-header {
  background-color: #3F8EB5;
  height: 50px;
  position: absolute;
  top: 0;
  width: 100vw;
  border-bottom: 10px solid #7cb8d5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}
.submit-button {

  margin-right: 0;

  background-color: #3F8EB5;
  color: #ffffff;
  font-weight: 600;
  font-size: large;
  border-radius: 4px;
  padding: 5px 40px 5px 40px ;
  border: none;
  box-shadow: #747474;
}
.App-link {
  color: #61dafb;
}
#menu-item {
  background-color: #7cb8d5;
  padding: 15px;
  margin-left: 8px;
  margin-right: 8px;
}
#menu-item:hover{
  background-color: white;
}
.form-check{
  margin-left: -25px;
  
}
.form-check-label{
  padding: 7px;
}
.check{
  display: contents;

}
